:root{
    font-size: 62.5%;

    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --darkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --lightGray: hsl(0, 0%, 98%);

    --w2: 200;
    --w4: 400;
    --w6: 600;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 2.5rem;
}







.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }